body {
    margin: 60px auto;
    width: 70%;
    font-family: 'Courier New', 'Serif';
    background-color: #fff;
    color: #000;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
    display: flex;
}

nav ul li, footer ul li {
    display: block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

p {
    font-size: 1em;
    line-height: 1.4em;
}

footer {
    border-top: 1px solid #000;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img {
    height: 40vh;
    width: auto;
}

.site-title {
    text-align: left;
    font-weight: bold;

}

.page-heading {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.home-page-div {
    display: flex;
    flex-direction: row;
}

.headshot {
    margin-right: 2vh;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

nav li.current a {
    text-decoration: underline;
}

