body {
    margin: 60px auto;
    width: 70%;
    font-family: 'Courier New', 'Serif';
    background-color: #fff;
    color: #000;
    max-width: 1000px;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
    display: flex;
}

nav ul li, footer ul li {
    display: block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

p {
    font-size: 1em;
    line-height: 1.4em;
}

footer {
    border-top: 1px solid #000;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img {
    height: 30vh;
    width: auto;
    min-height: 200px;
}

.site-title {
    text-align: left;
    font-weight: bold;

}

.page-heading {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.home-page-div {
    display: flex;
    flex-direction: row;
}

.headshot {
    margin-right: 2vh;
    margin-bottom: 2vh;
    margin-top: 2vh;
    max-width: 186px;
}

nav li.current a {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    nav ul, footer ul {
        flex-direction: column;
        font-size: 1.5em;
    }
    body {
        width: 90%;
    }
    .home-page-div {
        flex-direction: column;
    }
}

