<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <p class="site-title">Sam Tripp</p>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/experience">Experience</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
    <div class="container">
        <p class=page-heading>{{ page.heading }}</p>
    </div>
    {{ content }}

    </div><!-- /.container -->
    <footer>
        <ul>
            <li><a href="mailto:sstripps1[at]gmail.com">email</a></li>
            <li><a href="https://github.com/sstripps1">github.com/sstripps1</a></li>
        </ul>
    </footer>
</body>

</html>