<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav>
        <ul>
            <li class="site-title">Sam Tripp</li>
            <li><a href="/">Home</a></li>
            <li><a href="/experience/">Experience</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1 class=page-heading>{{ page.heading }}</p>
    </div>
    {{ content }}

    </div><!-- /.container -->
    <footer>
        <ul>
            <li><a href="mailto:sstripps1[at]gmail.com" target="_blank">email</a></li>
            <li><a href="https://github.com/sstripps1" target="_blank">github</a></li>
            <li><a href="https://linkedin.com/in/sam-tripp-ca" target="_blank">linkedin</a></li>
        </ul>
    </footer>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get the current page URL path
        var path = window.location.pathname;

        // Get all the navigation links
        var navLinks = document.querySelectorAll('nav a');

        // Loop through each link
        navLinks.forEach(function (link) {
            // Check if the href attribute of the link matches the current path
            if (link.getAttribute('href') === path) {
                // Add 'current' class to the parent <li> of the matched link
                link.parentElement.classList.add('current');
            }
        });
    });
</script>

</html>